.orderBack{
    background-color: grey;
}
.buttonStyle{
    background-color: grey;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
}
.divpadding{
    padding: 20px;
}
h1{
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
h5{
    margin-top: 14px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
h7{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.hhr{
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
table{
    /*border: none;*/
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    /*border-collapse: collapse;*/

    /*margin: auto;*/
}
tr, td {
    border: none;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    text-align: center;
}

.myDiv {
    position: fixed;
    bottom: 0;
    width: 100%;

}