<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta field="*{iewport" content="width=device-width, initial-scale=1">

    <title>YYWS.AI</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar0" data-offser="0">
    <nav class="navbar sticky-top navbar-expand-md bg-body-tertiary pad-side" id="navbar0" th:object="${user}">
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="logo" href="/">
            <img src="/image/logo.png" width="30" height="30" alt="">
            YYWS
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-md-0">
                <li class="nav-item">
                    <a class="nav-link main-color-text" id="catalogue" href="/catalogue">Catalogue</a>
                </li>
            </ul>
        </div>
        <span th:if="${user.class.name eq 'com.yysw.user.owner.Owner'}">
                <a th:href="@{/orderHistory}"><img src="/image/order-history.png " width="30" height="30" alt=""></a>
                <div class="dropstart" style="display: inline-block">
                    <a
                            role="button"
                            id="dropDownMenuLink2"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        <img src="/image/acc-icon.png" width="30" height="30" alt="">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropDownMenuLink2">
                        <li><a class="dropdown-item" th:href="@{/quitLogin}">Log out</a></li>
                    </ul>
                </div>
            </span>
    </nav>
<div>
    <form action="#" th:action="@{/add-model}" th:object="${newModel}" method="POST">
        <table>
            <tr>
                <td>
                    <label for="model-name">Model Name</label>
                    <input type="text" id="model-name" th:field="*{modelName}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="trainedPrice">Price for trained model</label>
                    <input type="number" step=0.01 min= 0 id="trainedPrice" th:field="*{trainedPrice}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="untrainedPrice">Price for untrained model</label>
                    <input type="number" step=0.01 min= 0 id="untrainedPrice" th:field="*{untrainedPrice}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="description">Model Description</label>
                    <textarea id="description" th:field="*{description}" required></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="available">Available to purchase</label>
                    <input type="checkbox" id="available" th:field="*{available}">
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>