<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>YYWS.AI</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles-catalogue.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar0" data-offser="0">
    <nav class="navbar sticky-top navbar-expand-md bg-body-tertiary pad-side" id="navbar0" th:object="${user}">
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="logo" href="/">
            <img src="/image/logo.png" width="30" height="30" alt="">
            YYWS
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-md-0">
                <li class="nav-item">
                    <a class="nav-link main-color-text" id="catalogue" href="/catalogue">Catalogue</a>
                </li>
                <li class="nav-item" th:if="${user == null || user != null && user.class.name == 'com.yysw.user.customer.Customer'}">
                    <a class="nav-link main-color-text" id="contact" href="/contactUs">Contact Us</a>
                </li>
            </ul>
        </div>
        <span th:if="${user eq null}">
            <button class="white-button-sm" type="button" onclick="window.location.href='/login'">Log In</button>
            <button class="white-button-sm" type="button" onclick="window.location.href='/register'">Register</button>
        </span>
        <div th:unless="${user eq null}">
                <span th:if="${user.class.name eq 'com.yysw.user.customer.Customer'}">
                    <a th:href="@{/order-history}"><img src="/image/order-history.png " width="30" height="30" alt=""></a>
                    <a th:href="@{/shopping-cart}"><img src="/image/shopping-cart.png " width="30" height="30" alt=""></a>
                    <div class="dropstart" style="display: inline-block">
                        <a
                                role="button"
                                id="dropDownMenuLink1"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                            <img src="/image/acc-icon.png" width="30" height="30" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropDownMenuLink1">
                            <li><a class="dropdown-item" th:href="@{/quitLogin}">Log out</a></li>
                        </ul>
                    </div>
                </span>
            <span th:if="${user.class.name eq 'com.yysw.user.owner.Owner'}">
                <a th:href="@{/order-history}"><img src="/image/order-history.png " width="30" height="30" alt=""></a>
                <div class="dropstart" style="display: inline-block">
                    <a
                            role="button"
                            id="dropDownMenuLink2"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        <img src="/image/acc-icon.png" width="30" height="30" alt="">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropDownMenuLink2">
                        <li><a class="dropdown-item" th:href="@{/quitLogin}">Log out</a></li>
                    </ul>
                </div>
            </span>
        </div>
    </nav>
    <div class="container">
        <div class="title">
            <h1>The Marketplace<br>for AI Models</h1>
            <p>
                Welcome to our AI model marketplace website! Here, you can easily browse and access a wide range of pre-trained models and algorithms for use in your projects, from image and voice recognition to natural language processing and more.
            </p>
        </div>

        <div class="container-fluid">
            <!-- Thymeleaf iterator that takes a model containing all the models and formats them into rows of three -->
            <div class="row" th:each="model, iter : ${catalogue}" th:if="${iter.index % 3 == 0 && iter.index < catalogue.size()}">
                <div class="col-sm-3 c-btn">
                    <div th:attr="class=${model.available ? 'model-available' : 'model-unavailable'}">
                        <!--can use <a href> too-->
                        <a th:href="@{/catalogue/{id}/{name}(id=${model.id}, name=${model.modelName})}">
                            <span th:text="${model.modelName}"></span>
                            <span th:text="${model.id}"></span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 c-btn" th:if="${iter.index + 1 < catalogue.size()}" th:with="middleModel=${catalogue.get(iter.index+1)}">
                    <div th:attr="class=${middleModel.available ? 'model-available' : 'model-unavailable'}">
                        <!--can use <a href> too-->
                        <a th:href="@{/catalogue/{id}/{name}(id=${middleModel.id}, name=${middleModel.modelName})}">
                            <span th:text="${middleModel.modelName}"></span>
                            <span th:text="${middleModel.id}"></span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 c-btn" th:if="${iter.index + 2 < catalogue.size()}" th:with="rightModel=${catalogue.get(iter.index+2)}">
                    <div th:attr="class=${rightModel.available ? 'model-available' : 'model-unavailable'}">
                        <!--can use <a href> too-->
                        <a th:href="@{/catalogue/{id}/{name}(id=${rightModel.id}, name=${rightModel.modelName})}">
                            <span th:text="${rightModel.modelName}"></span>
                            <span th:text="${rightModel.id}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>