<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="3;url=http://localhost:8080/">

    <title>YYWS.AI</title>

    <link rel="stylesheet" href="../static/styles.css">
</head>
<body data-spy="scroll" data-target="#navbar0" data-offser="0">
    <div class="center-screen">
        <div class="center-box main-color-bg" style="flex-direction: column">
            <h2>You have successfully booked a meeting with us!</h2>
            <br>
            <span>The details of the meeting will be sent to your email soon.</span>
        </div>
    </div>
</body>
</html>