<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>YYWS.AI</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.'[[['']0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar0" data-offser="0">

<nav class="navbar sticky-top navbar-expand-md bg-body-tertiary" id="navbar0">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a href="/">YYWS</a>
    <ul class="navbar-nav mx-auto mb-md-0">
      <li class="nav-item">
        <a class="nav-link" id="intro" href="/marketplace">Marketplace</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="c1" href="/shoppingCart">Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="c2" href="#Chap2">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="c3" href="#Chap3">Contact Us</a>
      </li>
    </ul>
    <button type="button" onclick="window.location.href='/payment'">Pay</button>
    <button type="button" onclick="window.location.href='/contact-us'">Contact</button>
    <button type="button" onclick="window.location.href='/shopping-cart'">Shopping Cart</button>
    <button type="button" onclick="window.location.href='/order-history'">Order History</button>
    <form th:action="@{/quitLogIn}" method="get">
      <button>Logout</button>
    </form>
  </div>
</nav>
<div class=".bg">
  <img src="/image/background.jpg" alt="background">
  <h1>AI MODEL MARKETPLACE</h1>
</div>
</body>
</html>