<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>YYWS.AI</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.'[[['']0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar0" data-offser="0">

    <nav class="navbar sticky-top navbar-expand-md bg-body-tertiary" id="navbar0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="/">YYWS</a>
            <ul class="navbar-nav mx-auto mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" id="catalogue" href="/catalogue">Catalogue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact" href="/contactUs">Contact Us</a>
                </li>
            </ul>

            <button type="button" onclick="window.location.href='/login'">Log In</button>
            <button type="button" onclick="window.location.href='/register'">Register</button>
        </div>
    </nav>

    <div class="opening" th:object="${user}">
        <h1 class="title">AI MODEL MARKETPLACE</h1>
        <a th:text="${user.class.name}" th:if="${user ne null}"></a>
    </div>
</body>
</html>