<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>YYWS.AI</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.'[[['']0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar0" data-offser="0">
    <nav class="navbar sticky-top navbar-expand-md bg-body-tertiary" id="navbar0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="/">YYWS</a>
            <ul class="navbar-nav mx-auto mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" id="intro" href="/marketplace">Marketplace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="c1" href="#Chap1">Sales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="c2" href="#Chap2">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="c3" href="#Chap3">Contact Us</a>
                </li>
            </ul>
            <button type="button" onclick="window.location.href='/payment'">Pay</button>
            <button type="button" onclick="window.location.href='/contactUs'">Contact</button>
            <button type="button" onclick="window.location.href='/login'">Log In</button>
            <button type="button" onclick="window.location.href='/register'">Register</button>
        </div>
    </nav>


<div>
        <h2>MARKETPLACE for AI Models</h2>
        <p>
            Welcome to our AI model marketplace website! Here, you can easily browse and access a wide range of pre-trained models and algorithms for use in your projects, from image and voice recognition to natural language processing and more.
        </p>
    </div>


    <div class="container-fluid">
        <!-- Thymeleaf iterator that takes a model containing all the models and formats them into rows of three -->
        <div class="row" th:each="model, iter : ${catalogue}" th:if="${iter.index % 3 == 0 && iter.index < catalogue.size()}">
            <div class="col-md-4">
                <div class="content bg-green">
                    <!--can use <a href> too-->
                    <a th:href="@{/marketplace/{id}/{name}(id=${model.id}, name=${model.modelName})}">
                        <img th:src="${model.photoURL}" alt="image"/>
                        <span th:text="${model.modelName}"></span>
                        <span th:text="${model.id}"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-4" th:if="${iter.index + 1 < catalogue.size()}" th:with="middleModel=${catalogue.get(iter.index+1)}">
                <div class="content bg-green">
                    <!--can use <a href> too-->
                    <a th:href="@{/marketplace/{id}/{name}(id=${middleModel.id}, name=${middleModel.modelName})}">
                        <img src="https://www.tutorialspoint.com/latest/inter-process-communication.png" alt="image"/>
                        <span th:text="${middleModel.modelName}"></span>
                        <span th:text="${middleModel.id}"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-4" th:if="${iter.index + 2 < catalogue.size()}" th:with="rightModel=${catalogue.get(iter.index+2)}">
                <div class="content bg-green">
                    <!--can use <a href> too-->
                    <a th:href="@{/marketplace/{id}/{name}(id=${rightModel.id}, name=${rightModel.modelName})}">
                        <img src="https://www.tutorialspoint.com/latest/inter-process-communication.png" alt="image"/>
                        <span th:text="${rightModel.modelName}"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row" style="padding: 16px 0px;">
            <div class="col-md-4">
                <div class="content bg-pink">
                    <p>Peer Pressure</p>
                    <p class="text0">Peer pressure can also be a factor in cyberbullying. People may feel compelled to bully others online because they feel that it is what their friends or peers expect of them. They may also feel that they need to prove their worth or power in order to fit in with a particular group.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content bg-green">
                    <p>Low Self-Esteem</p>
                    <p class="text0">Low self-esteem can also play a role in cyberbullying. People with low self-esteem may engage in bullying behavior as a way to boost their own confidence and make themselves feel better about themselves.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content bg-pink">
                    <p>Mental Health Issues</p>
                    <p class="text0">Mental health issues such as depression, anxiety, and impulsiveness can also contribute to cyberbullying. Individuals with these issues may find it difficult to control their emotions or behavior and may turn to bullying as a way to cope with their feelings.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>