<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>YYWS.AI</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.'[[['']0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar0" data-offser="0">
    <nav class="navbar sticky-top navbar-expand-md bg-body-tertiary pad-side" id="navbar0" th:object="${user}">
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="logo" href="/">
            <img src="/image/logo.png" width="30" height="30" alt="">
            YYWS
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-md-0">
                <li class="nav-item">
                    <a class="nav-link main-color" id="catalogue" href="/catalogue">Catalogue</a>
                </li>
                <li class="nav-item" th:if="${user == null || user != null && user.class.name == 'com.yysw.user.customer.Customer'}">
                    <a class="nav-link main-color" id="contact" href="/contactUs">Contact Us</a>
                </li>
            </ul>
        </div>
        <span th:if="${user eq null}">
                <button class="white-button-sm" type="button" onclick="window.location.href='/login'">Log In</button>
            </span>
        <div th:unless="${user eq null}">
                <span th:if="${user.class.name eq 'com.yysw.user.customer.Customer'}">
                    <a th:href="@{/orderHistory}"><img src="/image/order-history.png " width="30" height="30" alt=""></a>
                    <a th:href="@{/shoppingCart}"><img src="/image/shopping-cart.png " width="30" height="30" alt=""></a>
                    <div class="dropstart" style="display: inline-block">
                        <a
                                role="button"
                                id="dropDownMenuLink1"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                            <img src="/image/acc-icon.png" width="30" height="30" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropDownMenuLink1">
                            <li><a class="dropdown-item" th:href="@{/quitLogin}">Log out</a></li>
                        </ul>
                    </div>
                </span>
            <span th:if="${user.class.name eq 'com.yysw.user.owner.Owner'}">
                    <a th:href="@{/orderHistory}"><img src="/image/order-history.png " width="30" height="30" alt=""></a>
                    <div class="dropstart" style="display: inline-block">
                        <a
                                role="button"
                                id="dropDownMenuLink2"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                            <img src="/image/acc-icon.png" width="30" height="30" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropDownMenuLink2">
                            <li><a class="dropdown-item" th:href="@{/quitLogin}">Log out</a></li>
                        </ul>
                    </div>
                </span>
        </div>
    </nav>

    <div>
        <h2>Title</h2>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="content bg-green">
                    <img th:src="${model.photoURL}" alt="pic">
                </div>
            </div>
            <div class="col-md">
                <div class="content bg-pink">
                    <h4 th:text="${model.modelName}"></h4>
                    <p th:text="${model.description}"></p>

                    <form th:action="@{/catalogue/__${id}__/__${name}__}" method="POST">
                        <label th:text="'Trained model ' + ${model.trainedPrice}"></label>
                        <input type="checkbox" name="trained">
                        <label th:text="'Untrained model ' + ${model.untrainedPrice}"></label>
                        <input type="checkbox" name="untrained">
                        <br>
                        <input type="submit" value="Add To Cart">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br><hr /><br>

    <div>
        <h4>Details</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
    </div>
    <div>
        <h4>Accuracy</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
    </div>
    <div>
        <h4>API</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
    </div>
</body>
</html>