<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.'[[['']0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-sm-7">
            <h1>Enter Payment Details</h1>
            <hr class="solid">
            <form action="#" th:action="@{/payment}" th:object="${paymentInformation}" method="POST">
                <div class="row">
                    <input type="text" th:field="*{name}" placeholder="Name On Card" required/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Valid Name Required</span>
                </div>
                <div class="row">
                    <input type="text" th:field="*{cardNum}" placeholder="Card Number*" pattern="\d{16}" required/>
                    <span th:if="${#fields.hasErrors('cardNum')}" th:errors="*{cardNum}">Valid Card Number Required</span>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="month" th:field="*{expiry}" placeholder="MM/YY" required/>
                        <span th:if="${#fields.hasErrors('expiry')}" th:errors="*{expiry}">Valid Name Required</span>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{cvv}" placeholder="CVV*" pattern="\d{3}" required/>
                        <span th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}">Valid CVV Required</span>
                    </div>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>